<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
        <title>Images</title>
    </head>

    <body>
        <%- include("../partials/header") %>
        <!-- *********DISPLAY OUR IMAGES********* -->
        <h1 class="">Images</h1>
        <% for (image of images) { %>
        <img src="<%= image.url %>" alt="" />
        <% } %>
        <!-- **********NEW IMAGES FORM**************** -->
        <form action="/images/" method="post">
            <input type="text" placeholder="new image" name="url" />
            <input type="submit" value="add image" />
        </form>
        <%- include("../partials/footer") %>
    </body>
</html>
