<footer class="footer">
    <nav>
        <% if (loggedIn) { %>
        <a class="button button--small" href="/users/logout">Logout</a>
        <% } else { %>
        <a class="button button--small" href="/users/login">Login</a>
        <a class="button button--small" href="/users/create">Sign up</a>
        <% } %>
    </nav>
    <!-- load script at end of body -->
    <script src="/all.js"></script>
</footer>
