<header class="header">
    <section class="header__info-container">
        <div class="header__info-container__author-container">
            <h4 id="author-text">Ian Rackson</h4>
            <nav
                class="header__info-container__author-container__link-container"
            >
                <i
                    id="github"
                    class="fab fa-github-square"
                    onclick="window.open('https://git.generalassemb.ly/ianrackson/ImageLover-unit2-repo')"
                ></i>
                <i
                    id="slack"
                    class="fab fa-slack"
                    onclick="window.open('https://ga-students.slack.com/team/U01GN8NP1C5')"
                ></i>
            </nav>
        </div>
        <div class="header__info-container__project-container">
            <h4 class="header__info-container__project-container__project-text">
                Week <span id="week">10</span>, Unit <span id="week">2</span>
            </h4>
            <h4 class="header__info-container__project-container__project-text">
                Due <span id="date">04-10-2021</span>
            </h4>
        </div>
    </section>
    <section class="header__title-container">
        <h1 class="header__title-container__title-text">
            <a class="" href="/">Image Lover</a>
        </h1>
    </section>
</header>
