<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
        <title>Home</title>
    </head>

    <body>
        <%- include("./partials/header") %>
        <main>
            <% if (loggedIn) { %>
            <h2><a href="/images">Click to View Images!</a></h2>
            <% } else { %>
            <h2>Login to view your #belovedImages!</h2>
            <% } %>
        </main>
        <%- include("./partials/footer") %>
    </body>
</html>
